[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "discretes"]
	path = discretes
	url = https://github.com/vincenzocoia/discretes
[submodule "igcop"]
	path = igcop
	url = https://github.com/vincenzocoia/igcop
